.cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.heading-div {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 15px 0px;

  .buttoncss {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 2px;
  }
}
